SQLSV_DEMO_MODE=true
SQLSV_HOST=localhost
SQLSV_PORT=1433
SQLSV_USER=readonly_user
SQLSV_PASSWORD=
SQLSV_ENCRYPT=true
SQLSV_TRUST_SERVER_CERTIFICATE=true
SQLSV_DATABASE_ALLOWLIST=
SQLSV_TABLE_ALLOWLIST=
SQLSV_DEFAULT_PAGE_SIZE=100
SQLSV_MAX_PAGE_SIZE=500
SQLSV_API_PORT=3001
SQLSV_WEB_PORT=5173
